<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{AdminPages/AllBasePages/EmployeeServicesBasePage::layout(~{::section},~{::title})}">
<head>
<meta charset="UTF-8" />
<title>Employee Profile</title>
</head>
<body>

	<section class="mainclass" style="margin-top: 6%;">
	<div style="background-color: white;">
		<div style="background-color: white;">
			<div class="card">
				<div class="card-body ">
					<!-- Grid row -->
					<div class="row">
						<!-- Grid column -->
						<div class="col-md-12">
							<div class="col-md-auto row text-muted mb-0">
									<h5 class="primary" style="margin: 5px auto; width: 20%;">Presenti / Leaves Data</h5>
							</div>
								<hr style="margin: 0px; color: black;">
						</div>
					</div>
					<div class="grey-bg container-fluid">
												<div class="row">
													<div class="col-12 mt-3 mb-1">
														<div style="margin: 0px 0px;">

															<form th:action="@{'/admin/employee/currentDateData'}">
																<div class="row justify-content-center  d-grid "
																	style="grid-template-columns: auto auto auto auto auto; margin: 0px;">

																	<div style="margin: 0px 20px; padding: 0px;">
																		<p style="margin: 0px; padding: 0px;" class="primary">From</p>
																	</div>

																	<div style="margin: auto 20px; padding: 0px;">
																		<input style="border: 0px;" type="date"
																			name="fromDate" required="required">
																	</div>

																	<div style="margin: 0px 20px; padding: 0px;">
																		<p class="primary" style="margin: 0px; padding: 0px;">To</p>
																	</div>

																	<div style="margin: auto 20px; padding: 0px;">
																		<input style="border: 0px;" type="date" name="toDate"
																			required="required">
																	</div>

																	<button type="submit"
																		style="padding: 2px; width: 51px;"
																		class="btn btn-primary btn-sm" data-mdb-ripple-init>Search
																	</button>



																</div>
															</form>




															<spam style="width: 20%; margin-left:5%;" />
														</div>

													</div>
												</div>
											</div>
											
											<div style="text-align: center;">
												<h5 class="text-muted mb-0"><spam th:text="${date}"/></h5>
											</div>
					
												<div class="row">
												<div class="col-xl-4 col-sm-6 col-12">
													<div class="card">
														<div class="card-content">
															<a data-bs-toggle="modal"
																data-bs-target="#AllpresentEmployeelist" type="button"
																style="width: 100%;">
																<div class="card-body">
																	<div class="media d-flex">
																		<div class="media-body text-left">
																			<h3 class="success" style="text-align: center">
																				<spam th:text="${PresentList}"/>

																			</h3>
																			<div style="text-align: center">
																				<span>Present List</span>
																			</div>
																		</div>
																		<div class="align-self-center">
																			<i
																				class="icon-book-open success font-large-2 float-right"></i>
																		</div>
																	</div>
																	<div class="progress mt-1 mb-0" style="height: 7px;">
																		<div class="progress-bar bg-success"
																			role="progressbar" style="width: 100%"
																			aria-valuenow="80" aria-valuemin="0"
																			aria-valuemax="100"></div>
																	</div>

																</div>
															</a>
														</div>
													</div>

												</div>

												<div class="col-xl-4 col-sm-6 col-12">

													<div class="card">
														<div class="card-content">
															<a data-bs-toggle="modal"
																data-bs-target="#AllabsentEmployeelist" type="button"
																style="width: 100%;">
																<div class="card-body">
																	<div class="media d-flex">
																		<div class="media-body text-left">
																			<h3 class="warning" style="text-align: center">
																				<spam th:text="${AbsentList}" />

																			</h3>
																			<div style="text-align: center">
																				<span>Leaves List</span>
																			</div>
																		</div>
																		<div class="align-self-center">
																			<i
																				class="icon-bubbles warning font-large-2 float-right"></i>
																		</div>
																	</div>
																	<div class="progress mt-1 mb-0" style="height: 7px;">
																		<div class="progress-bar bg-warning"
																			role="progressbar" style="width: 100%"
																			aria-valuenow="35" aria-valuemin="0"
																			aria-valuemax="100"></div>
																	</div>
																</div>
															</a>
														</div>
													</div>

												</div>

												<div class="col-xl-4 col-sm-6 col-12">

													<div class="card">
														<div class="card-content">
															<div class="card-body">
																<div class="media d-flex">
																	<div class="media-body text-left">
																		<h3 class="primary" style="text-align: center">
																			<spam th:text="${SearchEmpAvragePresenti}" />

																		</h3>
																		<div style="text-align: center">
																			<span>Avrage Presenti</span>
																		</div>
																	</div>
																	<div class="align-self-center">
																		<i class="icon-cup primary font-large-2 float-right"></i>
																	</div>
																</div>
																<div class="progress mt-1 mb-0" style="height: 7px;">
																	<div class="progress-bar bg-primary" role="progressbar"
																		style="width: 100%" aria-valuenow="60"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
														</div>
													</div>

												</div>


											</div>
					
					
					
					
					
				</div>
			</div>
		</div>
		<div style="background-color: white;">
			<div class="card mb-4">
				<div class="card-body ">
					<!-- Grid row -->
					<div class="row">
						<!-- Grid column -->
						<div class="col-md-12">
							<div class="col-md-auto row text-muted mb-0">
									<h5 class="primary" style="margin: 5px auto; width: 22%;">Late Punch / OverTime</h5>
							</div>
								<hr style="margin: 0px; color: black;">
						</div>
					</div>
					<div class="grey-bg container-fluid">
												<div class="row">
													<div class="col-12 mt-3 mb-1">
														<div style="margin: 0px 0px;">

															




															<spam style="width: 20%; margin-left:5%;" />
														</div>

													</div>
												</div>
											</div>
											
											<div style="text-align: center;">
												<h5 class="text-muted mb-0"><spam th:text="${date}"/></h5>
											</div>
					
												<div class="row">
												<div class="col-xl-4 col-sm-6 col-12">
													<div class="card">
														<div class="card-content">
															<a data-bs-toggle="modal"
																data-bs-target="#AllLatePunchingList" type="button"
																style="width: 100%;">
																<div class="card-body">
																	<div class="media d-flex">
																		<div class="media-body text-left">
																			<h3 class="success" style="text-align: center">
																				<spam th:text="${latePunchingList}"/>

																			</h3>
																			<div style="text-align: center">
																				<span>Late Punch</span>
																			</div>
																		</div>
																		<div class="align-self-center">
																			<i
																				class="icon-book-open success font-large-2 float-right"></i>
																		</div>
																	</div>
																	<div class="progress mt-1 mb-0" style="height: 7px;">
																		<div class="progress-bar bg-success"
																			role="progressbar" style="width: 100%"
																			aria-valuenow="80" aria-valuemin="0"
																			aria-valuemax="100"></div>
																	</div>

																</div>
															</a>
														</div>
													</div>

												</div>

												<div class="col-xl-4 col-sm-6 col-12">

													<div class="card">
														<div class="card-content">
															<a data-bs-toggle="modal"
																data-bs-target="#absentEmployeelist" type="button"
																style="width: 100%;">
																<div class="card-body">
																	<div class="media d-flex">
																		<div class="media-body text-left">
																			<h3 class="warning" style="text-align: center">
																				<spam th:text="${AbsentList}" />

																			</h3>
																			<div style="text-align: center">
																				<span>Leaves List</span>
																			</div>
																		</div>
																		<div class="align-self-center">
																			<i
																				class="icon-bubbles warning font-large-2 float-right"></i>
																		</div>
																	</div>
																	<div class="progress mt-1 mb-0" style="height: 7px;">
																		<div class="progress-bar bg-warning"
																			role="progressbar" style="width: 100%"
																			aria-valuenow="35" aria-valuemin="0"
																			aria-valuemax="100"></div>
																	</div>
																</div>
															</a>
														</div>
													</div>

												</div>

												<div class="col-xl-4 col-sm-6 col-12">

													<div class="card">
														<div class="card-content">
														<a data-bs-toggle="modal"
																data-bs-target="#AllOvertimeEmployeeList" type="button"
																style="width: 100%;">
															<div class="card-body">
																<div class="media d-flex">
																	<div class="media-body text-left">
																		<h3 class="primary" style="text-align: center">
																			<spam th:text="${OverTimeEmployeesize}" />

																		</h3>
																		<div style="text-align: center">
																			<span>OverTime</span>
																		</div>
																	</div>
																	<div class="align-self-center">
																		<i class="icon-cup primary font-large-2 float-right"></i>
																	</div>
																</div>
																<div class="progress mt-1 mb-0" style="height: 7px;">
																	<div class="progress-bar bg-primary" role="progressbar"
																		style="width: 100%" aria-valuenow="60"
																		aria-valuemin="0" aria-valuemax="100"></div>
																</div>
															</div>
															</a>
														</div>
													</div>

												</div>
											</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</body>
</html>
